@charset "UTF-8";
 body{
    background-color: rgb(20, 100, 206);
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: coral;
    align-items: center;
}
nav ul{
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
}

nav img{
    width: 200px;
    height: 70px;
    border-radius: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}
nav ul li a{
    display: inline;
    margin: 20px;
   
    justify-content: end;
    text-decoration: none;
   transition: 0.5 all;
    text-align: center;
    
}
nav ul li a:hover{
    border-bottom: 2px solid red;
    
    align-items: center;
}
#about{
    display: flex;
    margin-top: 100px;
    width: 100%;
}
.home1{
    width: 45%;
   
    
}
.home1 img{
    margin: auto;
    width: 500px;
    height: 350px;
    padding-left: 50px;
    align-items: center;
}
.home2{
    width: 50%;
}
.home2 h2{
    font-weight: 20px;
    text-align: center;
}

#about{
    width: 100%;

}
.about1{
    width: 100%;
    margin-top: 50px;
    
}
.about1 table{
    width: 100%;
    padding-left: 10px;
}
.about1 img{
    width: 250px;
    height: 150px;
    align-items: center;
    border-radius: 50%; 
    object-fit: cover;
}
.about1 img p{
    align-items: center;
    font-weight: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
}

#service{
    width: 100%;
    margin-top: 50px;
    
}
.ser1 table{
    width: 100%;
    padding-left: 10px;
}
.ser1 img{
    width: 400px;
    height: 250px;
    align-items: center;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
}
.ser1 img p{
    align-items: center;
    font-weight: 50px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    
}
#contact{
    padding: 40px 20px;
    width: 100%;
    height: 100%;
}
.cont{
    padding: 40px 20px;
    width: 50%;

}
.cont p span{
    padding-left:30px ;
    
}
.cont h1{
    font-size: 80px;
    color: red;
    font-weight: bold;
}
.cont button{
    background-color: red;
    border-radius:10px ;
    box-shadow: 10px 5px black;
    margin: 20px;
    box-shadow: 10px ;
    box-shadow: 10px ;
    padding:10px;
    align-items: center;
}
.ass    {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ass i:hover{
    background-color: forestgreen;

}
.conta{
    width: 50%;

}
.conta form input,form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background: #262626;
    padding:15px ;
    margin: 15px 0;
    color: #fff;
    border-radius: 6px;
}
.conta form{
    width: 100px;
}
.conta  form button{
    margin: auto;
}